<?xml version="1.0"?>

<robot name="azrael_arm" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="azrael/azrael_arm.xacro"/>

  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="ur_type" default="ur10e"/>
  <xacro:arg name="gripper" default="None"/>
  <xacro:property name="gripper" value="$(arg gripper)"/>
  <xacro:arg name="prefix" default="azrael/"/>
  <xacro:arg name="joint_limit_params" default="$(find azrael_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find azrael_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find azrael_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find azrael_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="headless_mode" default="false"/>
  <xacro:arg name="robot_ip" default="192.168.254.31"/>
  <xacro:arg name="use_tool_communication" default="false"/>
  <xacro:arg name="tool_voltage" default="24"/>
  <xacro:arg name="tool_parity" default="0"/>
  <xacro:arg name="tool_baud_rate" default="115200"/>
  <xacro:arg name="tool_stop_bits" default="1"/>
  <xacro:arg name="tool_rx_idle_chars" default="1.5"/>
  <xacro:arg name="tool_tx_idle_chars" default="3.5"/>
  <xacro:arg name="tool_device_name" default="/tmp/ttyUR"/>
  <xacro:arg name="tool_tcp_port" default="54321"/>
  <xacro:arg name="fake_ur" default="true"/>
  <xacro:arg name="fake_sensor_commands" default="true"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="sim_ignition" default="false"/>
  <xacro:arg name="generate_ros2_control_tag" default="false"/>
  <xacro:arg name="script_filename" default="$(find ur_client_library)/resources/external_control.urscript"/>
  <xacro:arg name="output_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"/>
  <xacro:arg name="input_recipe_filename" default="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"/>
  <xacro:arg name="reverse_port" default="50001"/>
  <xacro:arg name="script_sender_port" default="50002"/>
  <xacro:arg name="reverse_ip" default="0.0.0.0"/>
  <xacro:arg name="script_command_port" default="50004"/>
  <xacro:arg name="trajectory_port" default="50003"/>
  <xacro:arg name="non_blocking_read" default="true"/>
  <xacro:arg name="keep_alive_count" default="2"/>

  <link name="$(arg prefix)base_footprint"/>
  <xacro:azrael_arm parent="$(arg prefix)base_footprint"/>
</robot>
