<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="azrael">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import azrael urdf file -->
    <xacro:include filename="$(find azrael_description)/urdf/system.urdf.xacro" />

    <!-- Import control_xacro -->
    <!-- <xacro:include filename="azrael.ros2_control.xacro" />


    <xacro:azrael_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
